#additional-weather-card {
  box-sizing: border-box;
  background: rgba(16, 33, 54, 0.6);
  border-radius: 0 34px 0 0;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 60px 87px 90px 110px;
  //   display: flex;
  position: absolute;
  bottom: 0;
  width: 630px;
}
sup {
  vertical-align: super;
  font-size: smaller;
}

.current-date {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 90px;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 0;
}

.current-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 18px;
  color: #fff;
}

.current-info span {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.current-info .current-month,
.current-info .current-time,
.current-info .sunrise-time,
.current-info .sunset-time {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #fff;
}

.current-info .current-month {
  border-right: 1px solid white;
  padding-right: 20px;
}

.current-info .current-time {
  margin-left: 20px;
  margin-right: 40px;
}

.current-info .sunrise-time {
  padding-right: 20px;
  border-right: 1px solid white;
}

.current-info .sunset-time {
  margin-left: 20px;
}

#quote-card {
  // width: 340px;
  /* height: 132px; */
  box-sizing: border-box;
  text-align: right;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  display: flex;
  position: absolute;
  /* top: 702px; */
  /* left: 830px; */
  bottom: 116px;
  right: 110px;
}

.quote-text,
.quote-author {
  font-weight: bold;
}

.quote-text {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.04em;
  text-align: right;
  color: #fff;
}

.quote-author {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.04em;
  text-align: right;
  color: #fff;
}
