.master-weather-card {
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  top: 23vh;
  overflow-x: hidden;
  width: 32vw;
  height: 42vh;
}
.weather-card {
  width: 30vw;
  height: 33vh;
  position: relative;
  border-radius: 3vw 0 0 3vw;
  background-color: #102136;
  box-shadow: 0 0.3vw 0.5vw 0 rgba(16, 33, 54, 0.59);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.city-name {
  font-size: 1vw;
  line-height: 1.222;
  // margin-bottom: 26px;

  color: hsla(0, 0%, 100%, 0.611);
  line-height: 1.375;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.temperature-card {
  font-family: var(--font-family);
  font-weight: 1vw;
  font-size: 3vw;
  letter-spacing: 0.05vw;
  text-align: center;
  color: #fff;
  margin: 0;
}

.divide-line {
  margin: 0 1vw;
}

.description {
  // color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  font-size: 1vw;
}

.description img {
  width: 2vw;
  height: auto;
}

.min-temp,
.max-temp,
.humidity {
  color: hsla(0, 0%, 100%, 0.302);
  display: flex;
  justify-content: center;
}

.min-temp,
.max-temp {
  margin-bottom: 0;
  font-size: 0.7vw;
  color: #fcfcfc;
}

.min-text,
.max-text {
  font-size: 0.5vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: hsla(0, 100%, 100%, 0.302);
}

.min,
.max {
  display: flex;
  padding: 0 1vw;
}

.min {
  border-right: 0.1vw solid hsla(0, 0%, 100%, 0.302);
}

.min-max-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.divide-line {
  height: 3vh;
}

.temps-divide {
  display: flex;
  justify-content: center;
}

.button-container {
  right: 5vw;
  position: absolute;
  top: 35vh;
  display: flex !important;
  flex-direction: row;
}

.today-button {
  margin-right: 1vw;
}

.five-day-button {
  margin-right: 3vw;
}
.weather-button {
  text-transform: uppercase;
  width: 6vw;
  height: 3vh;
  border-radius: 3vw;
  border: none;
  margin-top: 0;
  background-color: #ffffff81;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 0.8vw;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding: 0;
}

.weather-button:focus {
  background-color: #ffffff;
}

#forecast-location {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1vw;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

#forecast-container {
  flex-direction: row;
  padding: 2vw;
  background-color: #36454f;
  border-radius: 3vw;
  width: 90vw;
  height: 25vh;
  box-shadow: 0 1vw 2vw 0 rgba(16, 33, 54, 0.6);
  background: rgba(16, 33, 54, 0.8);
  align-items: center;
  flex-wrap: wrap;
}

.five-days-container {
  width: 90vw;
  display: flex;
  position: absolute;
  right: 5vw;
  bottom: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forecast-day {
  flex: 0 1 18%;
  box-sizing: border-box;
  margin: 0.1vw;
  text-align: center;
}

.forecast-day h3,
.forecast-day p {
  margin: 0.2vw 0;
}

.forecast-day,
.date-week {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1vw;
  text-align: center;
  color: #fff;
}

.forecast-day .date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1vw;
  text-align: center;
  color: #fff;
}

.forecast-day p.date {
  color: #fff;
  opacity: 0.55;
  font-family: var(--font-family) !important;
  font-weight: 400 !important;
  font-size: 0.8vw !important;
  text-align: center !important;
}

.forecast-day .temp {
  font-size: 0.8vw;
}

.forecast-day .temp-min {
  border-right: 0.1vw solid #fff;
  border-color: hsla(0, 0%, 100%, 0.302);
}

.forecast-day .temp-min,
.forecast-day .temp-max {
  font-family: var(--font-family);
  text-align: center;
  color: #ff6b09;
  font-size: 0.9vw;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.forecast-day img {
  width: 2vw;
}

.five-days-min,
.five-days-max {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.3vw;
  text-align: center;
  color: #fff;
  opacity: 0.55;
}

.forecast-day .more-info {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 0.6vw;
  text-decoration: underline;
  // text-decoration-skip-ink: none;
  text-align: center;
  color: #fff;
  opacity: 0.3;
}

.buttons-five {
  top: 0;
  left: 70vw;
}
