<div id="additional-weather-card">
  <div class="additional-card">
    <p class="current-date">8<sup>th</sup> Sat</p>
    <div class="current-info">
      <span class="first-row">
        <span class="current-month">August</span>
        <span class="current-time">14:00</span>
      </span>
      <span class="second-row">
        <img src="./images/008-sunrise.svg" alt="Sunrise Icon" />
        <span class="sunrise-time">06:00</span>
        <img src="./images/009-sunset.svg" alt="Sunset Icon" />
        <span class="sunset-time">20:00</span>
      </span>
    </div>
  </div>
</div>
<div id="quote-card">
  <p class="quote-text">Quote</p>
  <p class="quote-author">Author</p>
</div>
