<div class="search-bar">
  <form id="search-form">
    <i id="location-icon" class="fa-solid fa-location-crosshairs"></i>
    <input type="text" id="city-input" placeholder="Enter the city" />
    <i id="star-icon" class="fa-regular fa-star"></i>
  </form>
  <div class="position-favorite-elemet">
    <ul id="favorites-list">
      <li>
        <span class="favorite-text">City Name</span>
        <span class="remove-favorite">×</span>
      </li>

      <!-- More favorite items here -->
    </ul>
    <button title="#" id="show-more-btn" class="show-more-btn"></button>
    <button title="#" id="show-less-btn" class="show-less-btn"></button>
  </div>
</div>

<!-- Modal personalizat pentru mesaje -->
<div id="custom-alert" class="modal" style="display: none">
  <div class="modal-content">
    <span id="close-modal" class="close">&times;</span>
    <p id="modal-message"></p>
    <!-- Butoane pentru selectarea limbii -->
    <div class="modal-buttons">
      <button id="btn-ro" class="lang-btn active">RO</button>
      <button id="btn-en" class="lang-btn">EN</button>
    </div>
  </div>
</div>
