<div class="master-weather-card">
<div class="weather-card" id="weather-card">
  <p id="description" class="description"></p>
  <h2 id="city-name" class="city-name"></h2>
  <p id="temperature" class="temperature-card"></p>
  <p id="humidity" class="humidity"></p>
  <div class="temps-divide">
    <div class="min">
      <span class="min-text">min
  <p id="min-temp" class="min-temp"></p>
      </span>
    </div>
  <div class="max">
    <span class="max-text">max
  <p id="max-temp" class="max-temp"></p>
    </span>
  </div>
  </div>
</div>
<div class="button-container">
  <button id="today-weather" class="weather-button today-button">today</button>
  <button id="five-day-forecast" class="weather-button five-day-button">5 days</button>
</div>
</div>
<div class="five-days-container">
<h2 id="forecast-location"></h2>
<div id="forecast-container"></div>
<div id="chart-container" style="display: none;"></div>
</div>


