@import url(./sass/searchBar.scss);
@import url(./sass/weathercard.scss);
@import url(./sass/grafic.scss);
@import url(./sass/backgroundImage.scss);
@import url(./sass/additionalWeather.scss);

:root {
  --font-family: 'Lato', sans-serif;
}
